script(type="text/template", id="addDatabaseTemplate")
	form(role="form")
		div.form-group
			label(for="database_name") Database name *
			input(type="text", name="database_name", id="form-input-name", placeholder="Enter a name for this database").form-control
		div.form-group 
			label(for="server") Server *
			<select name="server" class="form-control">
			<options>
			<% _.each(servers, function(server) { %>
			<option value="<%= server._id %>"><%= server.name %></option>
			<% }) %>
			</options>
			</select>
		div.form-group
			div.checkbox
				label
					<input type="checkbox" name="createDatabase"> Create the database?
		div.form-group
			button(type="submit", id="form-login-button").btn.btn-primary.submit Create database