script(type="text/template", id="createBackup-template")
	form(role="form")
		<input type="hidden" name="database" value="<%= database._id %>" class="form-control" />
		div.form-group
			label(for="name") Backup name *
			input(type="text", name="name", id="form-input-name").form-control
		div.form-group 
			label(for="format") Format *
			<select name="format" class="form-control">
			<options>
			<option value="sql">.sql</option>
			<option value="sql.gz">.sql.gz</option>
			</options>
			</select>
		div.form-group
			button(type="submit", id="form-login-button").btn.btn-primary.submit Create backup

script(type="text/template", id="downloadLink-template")
	div.row
		div.col-lg-8.col-md-8.col-sm-11.col-xs-11.col-lg-offset-2.col-md-offset-2.col-sm-offset-1.col-xs-offset-1
			<a href="<%= backup.url %>" class="btn btn-success btn-large btn-block center-block">Download backup</a>
			div(align="center").help-block.center-block Location of file: <%= backup.url %>