script(type="text/template", id="databaseMenu")
	div.btn-group
		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
		<ul class="dropdown-menu" role="menu">
		<li><a href="#addUser/<%= database._id %>" class="">Add user</a></li>
		<li class="divider"></li>
		<li><a href="#showTables/<%= database._id %>" class="">Show tables</a></li>
		<li><a href="#showUsersInDatabase/<%= database._id %>" class="">Show users</a></li>
		<li class="divider"></li>
		<li><a href="#listBackups/<%= database._id %>" class="">List backups</a></li>
		<li><a href="#createBackup/<%= database._id %>" class="">Backup</a></li>
		<li class="divider"></li>
		<li><a href="#import/<%= database._id %>" class="">Import</a></li>
		<li class="divider"></li>
		<li><a href="#permissions/<%= database._id %>" class="">Permissions</a></li>
		</ul>