extends /layout

block scripts
	script(src="/vendor/requirejs/require.js", data-main="/js/databases/main")

block templates
	script(type="text/template", id="data-databases")
		!{json}

	//- the main table to show the databases
	script(type="text/template", id="view-databases")
		table.table.table-hover.table-striped.well
			thead
				tr
					th Name
					th Server
					th Type
					th Locked
					th Actions
			tbody

	//- a single row in the databases table
	script(type="text/template", id="view-databases-row")
		<td>
		<a href="/databases#view/<%= _id %>" class="viewDatabase"><%= database_name %></a>
		</td>
		<td><% if(server) { %><%= server.name %><% } %></td>
		<td><%= database_type %></td>
		<td class="database-status-<%= _id %>">
		<% if(isLocked) { %>
		<a title="This database is locked, which prevents users to apply dangerous actions to it." class="btn btn-xs btn-success">
		<span class="glyphicon glyphicon-lock"></span>
		</a>
		<% } else { %>
		<a title="This database is not locked which means that a user with permissions can apply dangerous actions to it. If this is not what you want, please lock it." class="btn btn-xs btn-warning">
		<span class="glyphicon glyphicon-lock"></span>
		</a>
		<% } %>
		</td>
		<td>
		<div class="btn-group">
		<a data-id="<%= _id %>" href="/databases#view/<%= _id %>" class="viewDatabase btn btn-xs btn-primary">View</a>
		<% if(isLocked) { %>
		<button class="unlockDatabase btn btn-xs btn-warning">Unlock</button>
		<% } else { %>
		<button class="lockDatabase btn btn-xs btn-success">Lock</button>
		<button class="editDatabase btn btn-xs btn-warning">Edit</button>
		<button class="removeDatabase btn btn-xs btn-danger">Delete</button>
		<% } %>
		</div>
		</td>

	//- for when viewing a database #view/someid
	script(type="text/template", id="view-database")
		table.table.table-striped.well
			thead
				th(colspan="2") Database information
			tbody
				tr
					td.col-lg-3.col-md-3.col-sm-3.col-xs-3 Database name:
					td.col-lg-9.col-md-9.col-sm-9.col-xs-9 
						strong <%= database_name %>
				tr
					td.col-lg-3.col-md-3.col-sm-3.col-xs-3 Description:
					td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= description %>
				tr
					td.col-lg-3.col-md-3.col-sm-3.col-xs-3 Created:
					td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= created %>
				tr
					td.col-lg-3.col-md-3.col-sm-3.col-xs-3 Author:
					td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= author.fullName %>
				tr
					td.col-lg-3.col-md-3.col-sm-3.col-xs-3 Is Locked?:
					td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= isLocked %>
		
		table.table.table-striped.well
			thead
				th(colspan="2") Server information
			tbody
				tr
					td.col-lg-3.col-md-3.col-sm-3.col-xs-3 Server name:
					td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <% if(server) { %><%= server.name %><% } %>
				tr
					td.col-lg-3.col-md-3.col-sm-3.col-xs-3 Server IP:
					td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <% if(server) { %><%= server.ip %><% } %>
		div#databaseUsersContainer

	script(type="text/template", id="add-database")
		form(role="form")
			div.form-group 
				label(for="server") Destination Server *
				<select name="server" class="form-control">
				<options>
				<% _.each(servers, function(server) { %>
				<option value="<%= server._id %>"><%= server.name %></option>
				<% }) %>
				</options>
				</select>
			div.form-group
				label(for="database_name") Database name *
				input(type="text", name="database_name", id="form-input-name", placeholder="Enter a name for this database").form-control
			div.form-group
				label(for="description") Description *
				input(type="text", name="description", id="form-input-description", placeholder="Enter a description for this database").form-control
			div.form-group
				label(for="database_encoding") Database encoding *
				select(name="database_encoding", id="database_encoding", class="form-control")
						options
							option(value="utf8") UTF-8
							option(value="ucs2") UCS-2
							option(value="utf16") UTF-16
							option(value="utf32") UTF-32
			div.form-group
				label(for="database_collate") Collate *
				select(name="database_collate", id="database_collate", class="form-control")
						options
							option(value="utf8_general_ci") utf8_general_ci
							option(value="utf8_unicode_ci") utf8_unicode_ci

			div.form-group
				div.checkbox
					label
						<input type="checkbox" name="createDatabase"> Create the database on the server?
						<div class="help-block">If not checked, the database will only be registered but not created on the server. Use this option if the database already exists and you want to managed it.</div>
	
	script(type="text/template", id="edit-database")
		form(role="form")
			div.form-group 
				label(for="server") Destination Server *
				div.form-control <%= database.server.name %>
				div.help-block The server cannot be changed
			div.form-group
				label(for="database_name") Database name *
				div.form-control <%= database.database_name %>
				div.help-block The database name cannot be changed
			div.form-group
				label(for="description") Description *
				<input type="text" name="description" value="<%= database.description %>" id="form-input-description" placeholder="Enter a description for this database" class="form-control" />
			
	script(type="text/template", id="viewusers")
		table.table.table-striped.well
			thead
				th Username
				th Allowed Hosts
			tbody

	script(type="text/template", id="viewusers-row")
		td.col-lg-3.col-md-3.col-sm-3.col-xs-3 <%= username %>	
		td.col-lg-3.col-md-3.col-sm-3.col-xs-3 <%= allowedHosts %>
		td.col-lg-3.col-md-3.col-sm-3.col-xs-3 
			button.btn.btn-danger.btn-xs.removeDatabaseUser Drop

	script(type="text/template", id="add-database-user")
		form(role="form")
			<input type="hidden" name="database" value="<%= database._id %>" class="form-control" />
			div.form-group
				label(for="username") Username *
				input(type="text", name="username", id="form-input-database-user", placeholder="Enter the database user to create").form-control
			div.form-group
				label(for="password") Password for the database user *
				input(type="password", name="password", id="form-input-database-password", placeholder="Enter the password for the user").form-control
			div.form-group
				label(for="allowedHosts") Allowed hosts
				input(type="text", name="allowedHosts", id="form-input-allowed-hosts", placeholder="Enter the hosts separated by commas, no spaces").form-control
			div.checkbox
				<label>
				<input name="sync" type="checkbox" />Do not create the user on the service, only sync
				</label>
				<div class="help-block">Use this option if the user already exists on the service. Notice that the password you enter, will not change the current password for the user.</div>


	script(type="text/template", id="viewbackups")
		table.table.table-striped.table-hover.well
			thead
				th Name
				th Created
				th Type
				th Format
				th Status
				th Download
			tbody#backupsList

	script(type="text/template", id="viewbackups-row")
		td.col-lg-9.col-md-9.col-sm-9.col-xs-9 
			<a href="<%= url %>" class=""><%= name %></a>
			div Created by: <%= author.fullName %>
		td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= created %>
		td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= type %>
		td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= format %>
		td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= status %>
		td.col-lg-9.col-md-9.col-sm-9.col-xs-9 
			<% if(url) { %>
			<a href="<%= url %>" class="btn btn-xs btn-success">Download</a>
			<% } %>

	script(type="text/template", id="permissionsForm")
		form(role="form")
			div.form-group
				input(type="hidden", id="selectedUser", name="selectedUser")
			div.form-group
				label(for="user") User to add
				input(type="text", id="user", name="user", data-provide="typeahead").form-control
				div.help-block User to add to this database with permissions
			div.form-group
				label(for="access") Database access
				select(name="access").form-control
					options
						option(value="view") View
						option(value="edit") Edit
						option(value="import") Import
						option(value="remove") Remove

	script(type="text/template" id="permission-view-row")
		td
			strong <%= user.fullName %>
		td
			<a href="#" class="btn btn-danger btn-xs revoke-access-btn" data-permission="<%= permission %>" id="<%= user._id %>">Revoke access</a>

	script(type="text/template", id="permissions-view")
		div
			table.table.table-striped.table-condensed.table-hover.well
				thead
					th View access
				tbody#membersWithViewAccess
			table.table.table-striped.table-condensed.table-hover.well
				thead
					th Edit access
				tbody#membersWithEditAccess
			table.table.table-striped.table-condensed.table-hover.well
				thead
					th Import access
				tbody#membersWithImportAccess
			table.table.table-striped.table-condensed.table-hover.well
				thead
					th Remove access
				tbody#membersWithRemoveAccess
			hr


	script(type="text/template", id="import-database")
		form(role="form", enctype="multipart/form-data", method="post", action="/api/files")
			div.newfile
			div(id="progress", class="progress hidden")
				div(class="progress-bar bar progress-bar-primary" style="width: 0%;", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100")
			span(class="btn btn-success fileinput-button upload-button btn-block btn-lg")
				i(class="glyphicon glyphicon-plus")
				span Add file...
				<input id="file" type="file" name="file">
			br
			br
			div(id="files", class="files")
			<input type="hidden" name="fileid" id="fileid" />
			<input type="hidden" name="database" value="<%= database._id %>" class="form-control" />
			
	script(type="text/template", id="create-backup")
		form(role="form")
			<input type="hidden" name="database" value="<%= database._id %>" class="form-control" />
			div.form-group
				label(for="name") Backup name *
				input(type="text", name="name", id="form-input-name").form-control
			div.form-group 
				label(for="format") Format *
				<select name="format" class="form-control">
				<options>
				<option value="sql">.sql</option>
				<option value="sql.gz">.sql.gz</option>
				</options>
				</select>

	script(type="text/template", id="download-backup-link")
		div.row
			div.col-lg-8.col-md-8.col-sm-11.col-xs-11.col-lg-offset-2.col-md-offset-2.col-sm-offset-1.col-xs-offset-1
				p The backup is processing, it will be ready soon. Please wait a few minutes and then come back here.

	script(type="text/template", id="database-menu")
		div.btn-group
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu">
			<li><a href="#" class="showTables">Show tables</a></li>

			<li class="divider"></li>
			
			<li><a href="#view/<%= _id %>/users">Database users</a>
			<li><a href="#" class="showUsersInDatabase">Show users in database</a></li>

			<li class="divider"></li>

			<li><a href="#view/<%= _id %>/backups" class="viewBackups">Backups</a></li>
			
			<li class="divider"></li>
			
			<li><a href="#" class="import">Import</a></li>
			
			<li class="divider"></li>
			
			<li><a href="#view/<%= _id %>/permissions" class="showPermissions">Permissions</a></li>
			</ul>