extends /layout

block scripts
	script(src="/javascripts/Models/Database.js")
	script(src="/javascripts/Collections/Databases.js")
	script(src="/javascripts/Models/DatabaseUser.js")
	script(src="/javascripts/Models/User.js")
	script(src="/javascripts/Models/Backup.js")
	script(src="/javascripts/Models/File.js")
	script(src="/javascripts/Collections/DatabaseUsers.js")
	script(src="/javascripts/Collections/Backups.js")
	script(src="/javascripts/Collections/Users.js")
	script(src="/javascripts/Models/Server.js")
	script(src="/javascripts/Collections/Servers.js")
	script(src="/javascripts/Views/DatabasesView.js")
	script(src="/javascripts/Routers/DatabasesRouter.js")
	script().
		(function() {
			var app = new App.Routers.DatabasesRouter();
			Backbone.history.start({pushState: false});
		})();

block templates
	include /genericResponse
	include /message
	include viewDatabase
	include addDatabase
	include listDatabaseUsers
	include addDatabaseUser
	include importDatabase
	include createBackup
	include listBackups
	include permissions
	include databaseMenu
	script(type="text/template", id="databases")
		!{json}
	script(type="text/template", id="databaseRow")
		<td>
		<a href="/databases#view/<%= database._id %>" class="viewDatabase"><%= database.database_name %></a>
		</td>
		<td>
		<a href="/databases#showDatabases/<%= database._id %>"><%= database.server.name %></a>
		</td>
		<td><%= database.database_type %></td>
		<td class="database-status-<%= database._id %>">
		<% if(database.isLocked) { %>
		<a title="This database is locked, which prevents users to apply dangerous actions to it." class="btn btn-xs btn-success">
		<span class="glyphicon glyphicon-lock"></span>
		</a>
		<% } else { %>
		<a title="This database is not locked which means that a user with permissions can apply dangerous actions to it. If this is not what you want, please lock it." class="btn btn-xs btn-warning">
		<span class="glyphicon glyphicon-lock"></span>
		</a>
		<% } %>
		</td>
		<td>
		<div class="btn-group">
		<% if(database.isLocked) { %>
		<button class="unlockDatabase btn btn-xs btn-warning">Unlock</button>
		<% } else { %>
		<button class="lockDatabase btn btn-xs btn-success">Lock</button>
		<% } %>
		<a data-id="<%= database._id %>" href="/databases#view/<%= database._id %>" class="viewDatabase btn btn-xs btn-primary">View</a>
		<button class="removeDatabase btn btn-xs btn-danger"> Delete</button>
		</div>
		</td>
block content
	div.container.content
		div.row
			div.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h1
					span.title!= title
					div.pull-right
						div#actions
							button.addDatabase.btn.btn-success Add database
				hr
		div.row
			div.col-lg-12.col-md-12.col-sm-12.col-xs-12
				div#message
				div#content
					if(databases.length > 0)
						table.table.table-hover.table-striped.well
							thead
								tr
									th Name
									th Server
									th Type
									th Locked
									th Actions
							tbody#listDatabases
					else
						div.alert.alert-info
							p No databases added