script(type="text/template", id="listDatabaseUsers-template")
	div
		h3 Database users
		table.table.table-striped.well
			thead
				th Username
				th Allowed Hosts
			tbody#databaseUsers

script(type="text/template", id="databaseUserRow-template")
	td.col-lg-3.col-md-3.col-sm-3.col-xs-3 <%= user.username %>	
	td.col-lg-3.col-md-3.col-sm-3.col-xs-3 <%= user.allowedHosts %>
	td.col-lg-3.col-md-3.col-sm-3.col-xs-3 
		button.btn.btn-danger.btn-xs.removeDatabaseUser Drop