script(type="text/template", id="listBackups-template")
	div#content
		h3 Backups of database <%= database.database_name %>
		table.table.table-striped
			thead
				th Name
				th Created
				th Type
				th Format
				th Status
				th Download
			tbody

script(type="text/template", id="listBackupsRow-template")
	tr
		td.col-lg-9.col-md-9.col-sm-9.col-xs-9 
			strong <%= backup.name %>
			div Created by: <%= backup.author.fullName %>
		td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= backup.created %>
		td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= backup.type %>
		td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= backup.format %>
		td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= backup.status %>
		td.col-lg-9.col-md-9.col-sm-9.col-xs-9 
			<% if(backup.url) { %>
			<a href="<%= backup.url %>" class="btn btn-xs btn-success">Download</a>
			<% } %>