extends /layout

block content
	div.container
		div.row
			div.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h1!= title
				hr
		div.row
			div.col-lg-2.col-md-2.col-sm-10.col-xs-10
				ul.nav.nav-pills.nav-stacked
					li
						a(href="/settings") Settings
					li.active
						a(href="/settings/password") Password
			div.col-lg-10.col-md-10.col-sm-10.col-xs-10
				include /messages
				form(role="form", method="post", action="/settings/password").form-horizontal.well
					div.form-group
						label(for="current").control-label.col-lg-3.col-md-3.col-sm-3.col-xs-3 Current password:
						div.col-lg-9.col-md-9.col-sm-9.col-xs-9
							input(type="password", name="current", id="current").form-control
							div.help-block Enter your current password
					div.form-group
						label(for="newpassword").control-label.col-lg-3.col-md-3.col-sm-3.col-xs-3 New password:
						div.col-lg-9.col-md-9.col-sm-9.col-xs-9
							input(type="password", name="newpassword", id="newpassword").form-control
							div.help-block Enter the new password
					div.form-group
						label(for="newpassword2").control-label.col-lg-3.col-md-3.col-sm-3.col-xs-3 Confirm new password:
						div.col-lg-9.col-md-9.col-sm-9.col-xs-9
							input(type="password", name="newpassword2", id="newpassword2").form-control
							div.help-block Confirm the new password
					div.form-group
						div.div.col-lg-9.col-md-9.col-sm-9.col-xs-9.col-lg-offset-3.col-md-offset-3.col-md-offset-3.col-xs-offset-3
							button(type="submit").btn.btn-primary Save
