div#wrapper
  nav(role="navigation", style="margin-bottom: 0").navbar.navbar-inverse.navbar-static-top
    div.container-fluid
      <!-- Brand and toggle get grouped for better mobile display -->
      div.navbar-header    
        button(type="button", data-toggle="collapse", data-target="#navbar").navbar-toggle
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href="#").navbar-brand dbManager

      <!-- Collect the nav links, forms, and other content for toggling -->
      div.collapse.navbar-collapse#navbar
        -if(user)
          ul.nav.navbar-nav
            li.home.active
              a(href="/") Home
            li.servers
              a(href="/servers") Servers
            li.databases
              a(href="/databases") Databases
            li.users
              a(href="/admin/users") Users
        ul.nav.navbar-nav.pull-right
          -if(!user)
            li
              a(href="/login") Log in
          -if(user)
            li
              a(href="/settings") Settings
            li
              a(href="/logout") Log out