doctype html
html
	head
		title= title
		include styles
	body
		div#wrapper
		div#page
			block content
		script(src="/vendor/jquery/dist/jquery.min.js")
		script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")