doctype html
html
	head
		title= title
		include styles
	body
		div.loading
			img(src="/images/loading.gif").loadingImage
			div.loadingText Loading
		div#templates
			include /templates
			include header
			block templates
		div#page
			div#header
			div.container
				div.row
					div.col-lg-12
						div#title
				div.row
					div.col-lg-12
						div#main
			block content
		include scripts
		block scripts