script(type="text/template", id="messageTemplate")
  <div class="alert alert-<%= type %>"><span><%= message %></span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>