//- layout view
script(type="text/template", id="layout")
	div.container
		div.row
			div.col-lg-12
				div#title
		div.row
			div.col-lg-12
				div#main
		div#modals

script(type="text/template", id="empty-view")
	td 
		p No results

//- /** 
//-  * Template to show alerts / messages
//-  */
script(type="text/template", id="message")
	<div class="alert alert-<%= type %>"><span><%= message %></span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>

//- /** 
//-  * Template to handle the title 
//-  */
script(type="text/template", id="title-template")
	h1
		span.title <%= title %>
		div.pull-right
			div#menu
	hr

//- /** 
//-  * Template to handle the contextual menu 
//-  */
script(type="text/template", id="context-menu")
	<button class="btn btn-<%= type %> <%= name %>"><%= title %></button> 

//- /** 
//-  * Template to handle data response 
//-  */
script(type="text/template", id="data-template")
	div.row
		div.col-lg-12.col-md-12.col-sm-12.col-xs-12
			<% if(stdout) { %>
			h3 stdout
			pre <%= stdout %>
			<% } %>

			<% if(stderr) { %>
			h3 stderr
			pre.alert.alert-danger <%= stderr %>
			<% } %>
