body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div#page {
	margin-top: 2em;
}

div#login {
	width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/images/servers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

div#loginForm {
	clear:both; height:240px; position:relative;
}

#floater	{
	float:left; 
	height:50%; 
	margin-bottom:-120px;
}

div.loading {
  position: absolute;
  width: 50px;
  height: auto;
  margin: 0 auto;
  top: 40%;
  vertical-align: middle;
  left: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  z-index: 10000;
}

div.loading .loadingText {
  margin-left: -15%;
}

/** 
 * Autocomplete fix 
 */
.ui-front {
    z-index: 10000;
}