doctype html
html
	head
		title= title
		include styles
	body
		div.loading
			img(src="/images/loading.gif").loadingImage
			div.loadingText Loading
		div#templates
			include /templates
			include header
			block templates
		div#page
			div#header
			div#maincontent
			block content
		include scripts
		block scripts