extends /layout

block scripts
	script(src="/javascripts/Models/Server.js")
	script(src="/javascripts/Collections/Servers.js")
	script(src="/javascripts/Views/ServersView.js")
	script(src="/javascripts/Routers/ServersRouter.js")
	script().
		(function() {
			var app = new App.Routers.ServersRouter();
			Backbone.history.start({pushState: false});
		})();

block templates
	include /genericResponse
	include /message
	include viewServer
	include addServer
	script(type="text/template", id="servers").
		!{json}
	script(type="text/template", id="serverRowTemplate")
		tr(class="server-<%= server._id %>")
			td <%= server.name %>
			td <%= server.ip %>
			td <%= server.os %>
			td
				div.btn-group
					<a href="/servers#view/<%= server._id %>" class="btn btn-xs btn-primary">View</a>
					<a href="/servers#edit/<%= server._id %>" class="btn btn-xs btn-primary">Edit</a>
					<a href="/servers#delete/<%= server._id %>" class="btn btn-xs btn-primary">Delete</a>
block content
	div.container
		div.row
			div.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h1
					span.title!= title
					div.pull-right
						div#actions
							a(href="/servers#add").btn.btn-success Add server
				hr
		div.row
			div.col-lg-12.col-md-12.col-sm-12.col-xs-12
				div#message
				div#content
					if(servers.length > 0)
						table.table.table-hover.table-bordered.table-striped.well
							thead
								tr
									th Name
									th IP
									th OS
									th Actions
							tbody#servers-tbody
								
					else
						div.alert.alert-info
							p No servers added