extends /layout

block scripts
	script(src="/vendor/requirejs/require.js", data-main="/js/servers/main")

block templates
	script(type="text/template", id="addServerTemplate")
		form(role="form")
			div.form-group
				label(for="name") Server Name *
				input(type="text", name="username", id="form-input-name", placeholder="Enter a name for this server").form-control
			div.form-group
				label(for="ip") IP *
				input(type="text", name="ip", id="form-input-ip", placeholder="Enter the IP or hostname of this server").form-control
			div.form-group 
				label(for="ssh_username") SSH Username *
				input(type="text", name="ssh_username", id="form-input-ssh_username", placeholder="Enter the ssh username to use to connect to this server").form-control
			div.form-group 
				label(for="ssh_keypath") SSH Private Key Path *
				input(type="text", name="ssh_keypath", id="form-input-ssh_keypath", placeholder="Enter the path where your ssh private key path is. The public key of this SSH will have to exists in the server.").form-control
				div.help-block Enter the path where your ssh private key path is. The public key of this SSH will have to exists in the server.
			div.form-group 
				label(for="ssh_port") SSH Port *
				input(type="text", name="ssh_port", id="form-input-ssh_port", placeholder="Enter the ssh port", value="22").form-control
			div.form-group 
				label(for="os") Operating System *
				select(name="os").form-control
					options
						option(value="ubuntu:12.04") Ubuntu 12.04
						option(value="ubuntu:12.10") Ubuntu 12.10
						option(value="ubuntu:13.04") Ubuntu 13.04
						option(value="ubuntu:13.10") Ubuntu 13.10
						option(value="ubuntu:14.04") Ubuntu 14.04
						option(value="centos:5") Centos 5
						option(value="centos:6") Centos 6
			div.well
				div.form-group
					label(for="type") Service Type *
					select(name="service[type]").form-control
						options
							option(value="mysql") MySQL
							option(value="mongodb") MongoDB
				div.form-group
					label(for="username") Username *
					input(type="text", name="service[username]", id="form-input-username", placeholder="Enter a username for this service", value="root").form-control
					div.help-block If you do not enter one, one will be created for you
				div.form-group
					label(for="password") Password *
					input(type="password", name="service[password]", id="form-input-password", placeholder="Enter the password associated with the username").form-control
					div.help-block If you do not enter one, one will be created for you
				div.form-group
					label(for="port") Port *
					input(type="text", name="service[port]", id="form-input-port", placeholder="Enter the port for this service", value="3306").form-control
	script(type="text/template", id="showserver-template")
		div.btn-group
			<button class="test btn btn-primary">Test connection</button>
		div#content
			h3 Server information
			table.table.table-striped
				tr
					td.col-lg-3.col-md-3.col-sm-3.col-xs-3 Name:
					td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= name %>
				tr
					td.col-lg-3.col-md-3.col-sm-3.col-xs-3 IP:
					td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= ip %>
				tr
					td.col-lg-3.col-md-3.col-sm-3.col-xs-3 SSH Username:
					td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= ssh_username %>
				tr
					td.col-lg-3.col-md-3.col-sm-3.col-xs-3 OS:
					td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= os %>
				tr
					td.col-lg-3.col-md-3.col-sm-3.col-xs-3 Created:
					td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= created %>
				tr
					td.col-lg-3.col-md-3.col-sm-3.col-xs-3 Author:
					td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= author.fullName %>

			h3 Services
			hr

			h4 <%= service.type %>
			table.table.table-striped
				tr
					td.col-lg-3.col-md-3.col-sm-3.col-xs-3 Service type:
					td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= service.type %>
				tr
					td.col-lg-3.col-md-3.col-sm-3.col-xs-3 Username:
					td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= service.username %>
				tr
					td.col-lg-3.col-md-3.col-sm-3.col-xs-3 Port:
				td.col-lg-9.col-md-9.col-sm-9.col-xs-9 <%= service.port %>
	script(type="text/template", id="view-server")
		td <%= name %>
		td <%= ip %>
		td <%= os %>
		td
			div.btn-group
				<a href="/servers#view/<%= _id %>" class="view btn btn-xs btn-primary">View</a>
				<button class="btn btn-xs btn-danger remove">Delete</button>
				<button class="btn btn-xs btn-warning test">Test connection</button>
	script(type="text/template", id="view-servers")
		table.table.table-striped.well
			thead
				tr
					th Name
					th IP
					th OS
					th Actions
			tbody
	script(type="text/template", id="empty-servers")
		p No servers added
	script(type="text/template", id="data-servers")
		!{json}